html, body, #root {
  margin: 0;
  padding: 0;
  height: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Main Format */

.left {
  width: 70vw;
  float:left;
  height: auto;
}

.right {
  width: 25vw;
  background-color: #ccc;
  height: auto;
  float:left;
  padding: 2.5vw;
}

/* Header */

.header {
  background-color: green;
  color: white;
  font-size: 2em;
  height: 20vh;
  padding: 20px;
}

.subtitle {
  font-size: 1em;
}

h1 {
  margin: 0;
}

/* lawn list */

.lawn-card {
  margin: 25px;
  padding: 15px;
  background-color: rgb(223, 240, 223);
  text-align: center;
  display: inline-block;
  width: 60vw;
}

.lawn-deets {
  float: left;
  text-align: left;
  padding: 20px;
  display: inline-block;
  width: 20vw;
}

.lawn-pic { 
  float:left;
  width: 20vw;
}

.lawn {
  width: 20vw;
  display: block;
}

.no-reviews {
  font-style: italic;
}

.address {
  font-style: italic;
  font-size: 0.75em;
}

h2 {
  margin:0;
  color: darkgreen;
}

h2 a {
  color:darkgreen;
}

h1 {
  color: white;
  text-decoration: none;
}

h1 a {
  color: white;
  text-decoration: none;
}

h1 a :visited {
  color: white;
}

/* lawn submit */

form {
  padding: 15px;
}

input {
  display: block;
  margin: 15px;
}

button {
  display: block;
}

textarea {
  display: block;
  margin: 15px;
}

/* review card */

.review-card {
  margin: 25px;
  padding: 15px;
  background-color: rgb(230, 230, 230);
  text-align: left;
  display: inline-block;
  width: 60vw;
}

.stars {
  font-style: italic;
  font-size: 0.8em;
}

.review-card button {
  display: inline-block;
  margin: 10px;
}